.jumbotron {
  padding-top: 7rem;
  background-color: rgb(219, 217, 217);
}

.about {
  font-family: cursive;
}

#gallery {
  background-color: rgb(219, 217, 217);
}

section {
  padding-top: 5rem;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: grey;
}
